.grid-item-holder-half-half {
    grid-template-columns: 50vw 50vw;
}

#change-nothing-img {
    width: 95%;
    height: auto;
}

#change-nothing-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .grid-item-holder-half-half {
        grid-template-columns: 100vw;
    }

    #change-nothing-img {
        width: 90vw;
        height: auto;
        margin: 5px;
    }

    #chill-coding-div {
        order: 0;
    }

    #change-nothing-div {
        order: 1;
    }
}
